# Node modules
node_modules/

# OS specific files
.DS_Store
Thumbs.db

# Editor files
.idea
*.iml
.vscode
*.suo
*.ntvs*
*.user
*.jscsrc

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Test reports
coverage/

# IDE specific files
.DS_Store
.metadata
.angular/cache
